[package]
name = "svg-rendering-example"
description = "A simple svg renderer based on resvg"
version = "0.1.0"
authors = ["Roland Kovacs <zen3ger@gmail.com>"]
workspace = "../.."
edition = "2018"

[[bin]]
name = "wgpu_svg"
path = "src/main.rs"

[dependencies]
lyon = { path = "../../crates/lyon", features = ["extra"] }

clap = "2.32.0"
wgpu = "0.6.0"
winit = "0.23"
usvg = "0.4"
futures = "0.3.5"
bytemuck = "1.2.0"