[submodule "extern/glfw-rs"]
	path = extern/glfw-rs
	url = https://github.com/bjz/glfw-rs
[submodule "extern/gl-rs"]
	path = extern/gl-rs
	url = https://github.com/bjz/gl-rs
[submodule "extern/rust-lua"]
	path = extern/rust-lua
	url = https://github.com/kballard/rust-lua.git
