*~
\#*\#
\#*
.#*
*.x86
*.llvm
*.out
*.boot
*.rustc
*.cmx
*.dll
*.def
*.exe
*.a
*.rlib
*.so
*.dylib
*.orig
*.cmo
*.cmi
*.dSYM
*.d
*.o
*.ll
*.bc
*.aux
*.cp
*.fn
*.ky
*.cps
*.log
*.pdf
*.epub
*.html
*.pg
*.toc
*.tp
*.vr
*.patch
*.diff
*.rej
*.swp
*.swo
*.tmp
*.pyc
*.elc
.hg/
.hgignore
.cproject
.project
.valgrindrc
bin/
