[submodule "extern/rust-lua"]
	path = extern/rust-lua
	url = https://github.com/kballard/rust-lua.git
[submodule "extern/gl"]
	path = extern/gl
	url = https://github.com/nical/gl-rs
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/nical/glfw-rs
[submodule "extern/png"]
	path = extern/png
	url = https://github.com/nical/rust-png
