[package]
name = "lyon_tessellation"
version = "1.0.10"
description = "A low level path tessellation library."
authors = ["Nicolas Silva <nical@fastmail.com>"]
repository = "https://github.com/nical/lyon"
documentation = "https://docs.rs/lyon_tessellation/"
keywords = ["2d", "graphics", "tessellation", "svg"]
license = "MIT OR Apache-2.0"
workspace = "../.."
edition = "2018"

[lib]
name = "lyon_tessellation"
path = "src/lib.rs"

[features]
serialization = ["serde", "lyon_path/serialization"]
debugger = []
profiling = []

[dependencies]
lyon_path = { version = "1.0.3", path = "../path" }
float_next_after = "0.1.5"
serde = { version = "1.0", optional = true, features = ["serde_derive"] }
thiserror = "1.0"

[dev-dependencies]
lyon_extra = { version = "1.0.0", path = "../extra" }
