name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    env:
        RUST_BACKTRACE: 1
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - nightly

    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v1

      - name: Test
        run: cargo test --all --verbose --all-features

  wasm:
    env:
        RUST_BACKTRACE: 1
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: "wasm32-unknown-unknown"
      - uses: Swatinem/rust-cache@v1

      - name: wasm-check
        run:
          cargo check --target wasm32-unknown-unknown
